#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_install:
	python setup.py install --root=debian/python-pyposdisplay --install-layout=deb --no-compile
override_dh_auto_build:

override_dh_install:
	install -d debian/tmp/lib/udev/rules.d
	install -m 644 debian/99-pyposdisplay.rules debian/tmp/lib/udev/rules.d/99-pyposdisplay.rules
	dh_install --fail-missing
